.chat-window{
  border-radius: 13px;
  height: 100%;
  font-family: 'Rubik';
  &__hello-block{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    line-height: 21.33px;
    b{
      margin-left: 5px;
    }
    div{
      text-align: center;
      margin-top: 15px;
    }
  }
  &__dialog-header{
    background-color: #4C6FFF;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 15.5px 30px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
  }
  &__dialog-container{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__text-area{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    padding-left: 31.09px;
    padding-right: 30px;

    textarea{
      overflow: hidden;
      width: 100%;
      background: no-repeat;
      outline: none;
      border: none;
      padding: 14.5px;
      max-width: 674px;
      margin: 0 auto;
      display: block;
      resize: none;
      color: white;
      font-family: 'Rubik';
      height: 50px;
      &::placeholder{
        color: #D5D5DC;
        font-size: 14px;
        line-height: 150%;
        font-family: 'Rubik';
      }

    }
  }
  &__message{
    display: flex;
  }
  &__send-btn{
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
  }
  &__other-message{

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #EDF2F7;

    box-sizing: border-box;
    display: inline-block;
    margin-right: auto;
    margin-bottom: 10px;
  }
  &__other-message-text{
    border-radius: 13px 13px 13px 0px;
    border: 2px solid #4C6FFF;
    padding: 12px;
  }
  &__other-message-time{
    font-size: 10px;
    line-height: 130%;
    text-align: start;
  }
  &__your-message{
    margin-bottom: 10px;
    display: inline-block;
    margin-left: auto;
  }
  &__your-message-text{
    background-color: #4C6FFF;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #EDF2F7;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 13px 13px 0px 13px;

  }
  &__your-message-time{
    color: #D5D5DC;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    text-align: end;
  }


}