.button{
  display: block;
  color: #FFFFFF;
  font-family: Rubik;
  font-weight: 700;
  background-color: var(--blueColor);
  cursor: pointer;
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
  &:hover{
    color: var(--color-text);
    opacity: 0.8;
    transition: all 0.3s;
  }
  &--save{
    padding: 11.5px 77.5px;
  }
}