@import "./src/assets/variables";
.menu{
  color: white;
  border-right: 1px solid var(--color-border);
  flex-direction: column;
  justify-content: flex-start;
  &__logo{
    margin: 0 auto 83.13px 0;
    width: 42px;
    height: 37.27px;
  }
  &__list{
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }


  &__item{
    margin-bottom: 32px;
  }
  &__item-active{
    border-radius: 16px;
    background-color: var(--blueColor);
    &:hover{
      background-color: var(--blueColor);
      opacity: 100%;
    }
  }
  &__item-active svg path {
    stroke: white;
  }
  &__item-active .menu__chat {
    fill: white;
  }
  &__item-active .menu__profile{
    fill: white;
    stroke: none;
  }
  &__item-active .menu__home {
    fill: white;
    stroke: none;
  }
  &__logout{
    position: fixed;
    bottom: 10px;
    left: 20px;
    margin-bottom: 0;
  }
  &__img{
    stroke: var(--color-title);
  }
  &__img-fill{
    fill: var(--color-title);
  }
  &__active-fill{
    fill:  #EDF2F7;
  }
  &__active-stroke{
    stroke:  #EDF2F7;
  }
  &__link{
    width: 60px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 13px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 32px;
    transition: background-color 0.3s, opacity 0.3s;
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      background-color: var(--blueColor);
      transition: background-color 0.3s, opacity 0.3s;
    }
  }
}

.menu__item-active > a > svg > path{
  fill: #EDF2F7;
}
.menu__item-active > a > svg > g > path{
  stroke: #EDF2F7;
}
.menu__item:nth-child(3).menu__item-active > a > svg > path{
  stroke: #EDF2F7;
  fill: none;
}
.menu__item:nth-child(4).menu__item-active > a > svg > path{
  stroke: #EDF2F7;
  fill: #EDF2F7;
}