.tabs{
  display: grid;
  grid-template-columns: 410px auto;
  grid-column-gap: 40px;
  //height: 100%;
  ul{
    padding-left: 0;
    list-style: none;
    margin: 0;
  }
  &__item-avatar{
    width: 48px;
    height: 48px;
    border-radius: 100px;
  }
  &__item{
    cursor: pointer;
    width: 100%;
    min-height: 72px;
    padding: 20px;
    box-sizing: border-box;
    background: var(--bg-button);
    border-radius: 16px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-notice);
    &--active{
      background-color: var(--blueColor);
      color: white;
      .tabs__item-wrp{
        path{
          fill: white;
        }
      }
    }

    &:last-child{
      margin-bottom: 0;
    }
    a{
      width: 100%;
    }
  }
  &__item-wrp{
    display: grid;
    grid-template-columns: 32px auto;
    grid-column-gap: 20px;
    width: 100%;
    grid-template-areas: "avatar top"
                          "text text";
    path{
      fill: var(--color-notice);
    }
    &--chat-list{
      grid-template-columns: 48px auto;
      grid-column-gap: 17px;
      font-family: Rubik,sans-serif;

    }
  }
  &__item-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  &__item-time{
    font-size: 14px;
    line-height: 17px;
    color: var(--timeColor);
    font-weight: 400;
  }
  &__item-wrp-top{
    display: flex;
    justify-content: space-between;
  }
  &__item-wrp-main{
    grid-area: text;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-top: 5px;
  }
  &__details{
    background: var(--bg-button);
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
    max-width: 710px;
    //min-height: 660px;
    min-height: auto;
    color: var(--color-notice);
    position: relative;
  }
}
@media (max-width: 1200px) {
  .tabs{
    &__links{
      margin-top: 116px;
    }
    &__links > ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
    }
    &__details{
      max-width: 100%;
      //margin: 0 24px;
    }
    &__item{
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .tabs{
    &__links{
      margin-left:24px;
      margin-right:24px;
    }
    &__details{
      margin: 0 24px;
    }
  }
}

@media (max-width: 660px) {
  .tabs{
    &__links{
      margin-left:0;
      margin-right:0;
      overflow: scroll;

    }
    &__details{
      margin: 0 24px;
      scrollbar-width: none;
      -ms-overflow-style: none;

      /* хром, сафари */
      &::-webkit-scrollbar { width: 0; }

      /* ie 10+ */
      & { -ms-overflow-style: none; }

      /* фф (свойство больше не работает, других способов тоже нет)*/
      & { overflow: -moz-scrollbars-none; }

    }

  }
}