.select-block{
  position: relative;
  &__arrow{
    position: absolute;
    top: 50%;
    right: 0;
    pointer-events: none;
    path{
      stroke: var(--color-pet-type);
    }
  }
  &__placeholder{
    position: absolute;
    top: calc(50% - 7px);
    left: 8px;
    font-size: 14px;
    line-height: 21px;
  }
  &__select{
    border: 0;
    border-bottom: 1px solid var(--color-pet-type);
    color: var(--color-pet-type);
    background: none;
    outline: none;
    cursor: pointer;
    appearance: none;//убрать стрелку
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    max-width: 100%;
    &:focus{
      border-color: var(--blueColor);
      & + .select-block__arrow{
        transform: rotate(180deg);
      }
    }
    & > .select-block__arrow:focus{

    }
  }
  &:focus {
    border-color: red;
    .select-block__arrow{
      transform: rotate(180deg);
    }
  }
  &__item{
    background: none;
  }
  option{
    color: var(--color-pet-type);
    background:var(--color-border);
    border: 0;
    outline: none;
  }
}

//чтобы убрать скролл во всех браузерах
//select::-webkit-scrollbar {display:none;}
//select::-moz-scrollbar {display:none;}
//select::-o-scrollbar {display:none;}
//select::-google-ms-scrollbar {display:none;}
//select::-khtml-scrollbar {display:none;}

select::-webkit-scrollbar {
  width: 3px;
  border: none;

  background: var(--color-border);
}
select::-webkit-scrollbar-track {
  background-color: transparent;
  //background-color: lightsteelblue;
  border-radius: 4px;
}
select::-webkit-scrollbar-thumb {
  background-color: blue;
  //box-shadow: inset 0 0 6px rgba(0, 49, 138, 1);
  border-radius: 2px;
}
select:after{
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("/put_k_strelke");
  position: absolute;
  right: 5px;
  top: 5px;
}


@media (max-width: 660px) {
  .select-block{
    height: 27px;
  }
}