@import "./src/assets/variables";
.new-post{
  border-radius: 16px;
  padding: 30px;
  box-sizing: border-box;
  background: var(--color-article);
  &__wrp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 35px;
    margin: 0;
    padding: 0;
  }
  &__item{
    width: 60px;
    height: 60px;
    border-radius: 32.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: var(--color-text);
    cursor: pointer;
  }
  &__btn{
    display: block;
    margin: 35px auto 0;
    background: var(--blueColor);
    border-radius: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
    padding: 11.5px 44.5px;
    box-sizing: border-box;
    border: 1px solid transparent;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s, opacity 0.3s, border 0.3s, color 0.3s;
    &:hover{
      background-color: rgba(255, 255, 255, 0.05);
      opacity: 50%;
      color: var(--color-text);
      border: 1px solid black;
      transition: background-color 0.3s, opacity 0.3s, border 0.3s, color 0.3s;
    }
  }
  &__circle{
    stroke: var(--color-text);
    transition: stroke 0.3s;
  }
  &__plus{
    fill: var(--color-text);
    transition: fill 0.3s;
  }
  &__add{
    cursor: pointer;
    &:hover{
      .new-post__circle{
        stroke: var(--blueColor);
        transition: stroke 0.3s;
      }
      .new-post__plus{
        fill: var(--blueColor);
        transition: fill 0.3s;
      }
    }
  }
}
@media (max-width: 1870px) {
  .new-post{
    &__wrp{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
}

@media (max-width: 1280px) {
  .new-post{
    &__btn{
      padding: 11.5px 19.5px;
      margin: 20px auto 0;
    }
  }
}
@media (max-width: 768px) {
  .new-post{
    &__wrp{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-column-gap:5px;
    }
  }
}