@import "./src/assets/variables";
.new-post{
  border-radius: 16px;
  padding: 30px;
  box-sizing: border-box;
  background: var(--color-article);
  &__wrp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 35px;
    margin: 0;
    padding: 0;
  }
  &__item{
    width: 60px;
    height: 60px;
    border-radius: 32.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: var(--color-text);
    cursor: pointer;
  }
  &__btn{
    margin: 35px auto 0;
    padding: 11.5px 44.5px;
    box-sizing: border-box;
  }
  &__circle{
    stroke: var(--color-text);
    transition: stroke 0.3s;
  }
  &__plus{
    fill: var(--color-text);
    transition: fill 0.3s;
  }
  &__add{
    cursor: pointer;
    &:hover{
      .new-post__circle{
        stroke: var(--blueColor);
        transition: stroke 0.3s;
      }
      .new-post__plus{
        fill: var(--blueColor);
        transition: fill 0.3s;
      }
    }
  }
}
@media (max-width: 1870px) {
  .new-post{
    &__wrp{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
}

@media (max-width: 1280px) {
  .new-post{
    &__btn{
      padding: 11.5px 19.5px;
      margin: 20px auto 0;
    }
  }
}
@media (max-width: 768px) {
  .new-post{
    padding: 30px 25px;
    &__wrp{
      //display: flex;
      //flex-wrap: wrap;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      grid-row-gap: 50px;
    }
    &__btn{
      margin: 50px auto 0;
    }
  }
}

@media (max-width: 590px) {
  .new-post__item{
    margin: 0 auto;
  }
  .new-post__add{
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .new-post{
    padding: 30px 27.5px;
    &__wrp{
      display: flex;
      flex-wrap: wrap;
      grid-column-gap: 10px;
      grid-row-gap: 35px;
      justify-content: center;
    }
    &__btn{
      margin: 35px auto 0;
      width: 100%;
    }
  }
}