@import "./src/assets/variables";
.article {
  border-radius: 16px;
  padding: 30px;
  box-sizing: border-box;
  background: var(--color-article);
  height: 210px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 20px 23px auto;
  grid-template-areas:
  "avatar name"
  "avatar description"
  "text text"
  "text text"
  "text text";
  &__avatar{
    width: 48px;
    height: 48px;
    font-size: 16px;
  }
  &__title-wrp{
    display: flex;
    justify-content: space-between;
    grid-area: name;
  }
  &__description{
    grid-area: description;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #96A7AF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0 0 0;
  }
  &__text{
    grid-area: text;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: var(--color-text);
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 18.5px 0 0 0;
  }
  &__txt{
    margin: 0;
  }
  &__author{
    color:var(--color-text);
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__time{
    color: #96A7AF;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: flex-start;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
@media (max-width: 1280px) {
  .article{
    height: 260px;
  }
}

@media (max-width: 375px) {
  .article{
    height: 100%;
    &__avatar{
      margin: 0 17px 0 15px;
    }
  }
}