@import "./src/assets/variables";
.header{
  &__title{
    color: var(--color-title);
    font-family: Rubik;
    font-weight: 700;
    font-size: 30px;
    line-height: 35.55px;
    margin: 0;
    grid-area: title;
  }
  &__checkbox{
    grid-area: checkbox;
  }
  &__buttons{
    display: flex;
    grid-area: buttons;
  }
  &__button{
    background-color: var(--bg-button);
    border: none;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    &:hover{
      .header__notice-btn{
        fill: $blueColor;
        transition: fill 0.3s;
      }
    }
  }
  &__middle-btn{
    margin: 0 18px 0 0;
  }
  &__notice-svg{
    width: 17px;
    height: 21px;
  }
  &__notice-btn{
    fill: var(--color-notice);
    stroke: var(--color-notice);
    transition: fill 0.3s;
  }
  &__notice-counter{
    background-color: #F16063;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 8px;
    height: 8px;
    border-radius: 50px;
  }


}
@media (max-width: 375px) {
  .header{
    &__title{
      display: none;
    }
    &__button{
      width: 32px;
      height: 32px;
      font-size: 12px;
    }
    &__notice-svg{
      width: 9.25px;
      height: 11.65px;
    }
    &__middle-btn{
      margin: 0 10px 0 20px;
    }
  }
}