.accaunt{
  &__button-without-photo{
    width: 24px;
  }
  &__button-with-photo{
    width: 100%;
    object-fit: cover;
  }

  &__label-add-avatar{
    display: block;
    width: 72px;
    height: 72px;
    margin: 28px 0 28px 0;
    cursor: pointer;
    button{
      pointer-events: none;
      cursor: pointer;
    }


  }
  &__add-avatar{
    display: none;
  }
  &__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin:0;
    color: var(--color-notice);
    &--second{
      margin-bottom: 30px;
    }
  }
  &__button-add{
    background-color: var(--blueColor);
    border: none;
    border-radius: 100px;
    width: 72px;
    height: 72px;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
  }


  &__form{
    display: grid;
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    grid-column-gap: 40px;
    grid-row-gap: 28px;
    margin-bottom: 34px;
  }
  &__location{
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-column-gap: 10px;
  }

}