@import "./_mixins.scss";
@import "./_fonts.scss";
@import "./variables.scss";
body{
  background-color: $bg-dark;
  margin: 0;
  padding: 0;
}
.main{
  //padding: 35px 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 100px 94%);
  height: 100vh;
  &__header{
    display: flex;
    justify-content: space-between;
    padding: 35px 30px 30px 30px;
    box-sizing: border-box;
  }
  &__menu{
    padding: 35.6px 29px 32px 20px;
  }

}