@import "./_mixins.scss";
@import "./_fonts.scss";
@import "./variables.scss";
body{
  margin: 0;
  padding: 0;
}
.app-background {
  background-color: var(--bg-dark);
}
.main{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 4fr 4fr;
  grid-template-rows: 1fr 4fr 4fr 4fr;
  grid-template-areas:
    "menu header header header header header"
    "menu userData userData userData userData userData"
    "menu row3 row3 row3 row3 row3"
    "menu row4 row4 row4 row4 row4";
  grid-gap: 40px;
  height: 100vh;
  &__header{
    display: flex;
    justify-content: space-between;
    padding: 35px 30px 30px 30px;
    box-sizing: border-box;
    grid-area: header;
  }
  &__menu{
    padding: 35.6px 29px 32px 20px;
    grid-area: menu;
  }
  &__userData{
    grid-area: userData;
  }

}