//тёмная тема по умолчанию
:root {
  --bg-dark: #0F172A;
  --bg-button:rgba(255, 255, 255, 0.05);
  --color-auth-text:#F16063;//цвет текста полей формы регистрации/авторизации
  --color-auth-button:#334155;
  --color-card-text:#EDF2F7;//цвет текста карточки
  --color-pet-type:#D5D5DC;//цвет породы
  --color-title:#EDF2F7;
  --color-logo: #FFFFFF;
  --color-notice:#EDF2F7;
  --color-border:#334155;
  --color-article:     rgba(255, 255, 255, 0.05);
  --color-text:#FFFFFF;
  --color-diagram-part:#334155;
  --color-statistic-part:#2A3C44;
  --color-mobile-line:#F6FBFD;
  --color1-slider-shadow:rgba(27, 35, 53, 0);
  --color2-slider-shadow:rgba(15, 23, 42, 1.99);
  --color-error-title:#FFFFFF;
  --color-error-text:rgba(255, 255, 255, 0.69);
  --color-arrow-slider:rgba(255, 255, 255, 0.12);//цвет стрелок слайдера с котиками
  --color-graphic-block:#2A3C44;
  --blueColor:#4C6FFF;
  --zIndex1:10;
  --zIndex2:50;
  --zIndex3:100;
  --zIndex4:1000;
  --switch-color:rgba(255, 255, 255, 0.05);
  --timeColor:#96A7AF
}
//светлая тема
[theme="light"]{
  --bg-dark: #EDF2F7;
  --bg-button:#FFFFFF;
  --color-auth-text:#334155;//цвет текста полей формы регистрации/авторизации
  --color-auth-button:#4C6FFF;
  --color-card-text:#334155;
  --color-pet-type:#334155;//цвет породы
  --color-title:#0F172A;
  --color-logo: #0F172A;
  --color-notice:#17171B;
  --color-border:#CED7E0;
  --color-article:#FFFFFF;
  --color-text: #17171B;
  --color-diagram-part:#EDF2F7;
  --color-statistic-part:#EDF2F7;
  --color-mobile-line:#0F172A;
  --color1-slider-shadow:rgba(255, 255, 255, 0);
  --color2-slider-shadow:#EDF2F7;
  --color-error-title: #1C3177;
  --color-error-text:rgba(40, 68, 149, 0.69);
  --color-arrow-slider:#4C6FFF;
  --color-graphic-block:#EDF2F7;
  --switch-color:#EDF2F7;
  --timeColor:#334155

}
