//тёмная тема по умолчанию
:root {
  --bg-dark: #0F172A;
  --bg-button:rgba(255, 255, 255, 0.05);
  --color-title:#EDF2F7;
  --color-logo: #FFFFFF;
  --color-notice:#EDF2F7;
  --color-border:#334155;
  --color-article: rgba(255, 255, 255, 0.05);
  --color-text:#FFFFFF;
  --color-diagram-part:#334155;
  --color-statistic-part:#2A3C44;
  --color-mobile-line:#F6FBFD;
  --color1-slider-shadow:rgba(27, 35, 53, 0);
  --color2-slider-shadow:rgba(15, 23, 42, 1.99);
}
//светлая тема
[theme="light"]{
  --bg-dark: #EDF2F7;
  --bg-button:#FFFFFF;
  --color-title:#0F172A;
  --color-logo: #0F172A;
  --color-notice:#17171B;
  --color-border:#CED7E0;
  --color-article:#FFFFFF;
  --color-text: #17171B;
  --color-diagram-part:#EDF2F7;
  --color-statistic-part:#EDF2F7;
  --color-mobile-line:#0F172A;
  --color1-slider-shadow:rgba(255, 255, 255, 0);
  --color2-slider-shadow:#EDF2F7;
}

$blueColor: #4C6FFF;
