.article{
  border-radius: 16px;
  padding: 30px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.05);
  &:nth-child(2){
    margin: 0 40px;
  }
}

.user-data{
  display: flex;
  &__hello{
    width: 860px;
    height: 314px;
    background-image: url("../../../public/images/bg-article.jpg");
    background-repeat: no-repeat;
    position: relative;
  }
  &__title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  &__text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  &__picture{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__progress{
    width: 560px;
    height: 314px;
    display: flex;
  }
  &__block-diagram{
    width: 50%;
  }
  &__diagram-text{
    color: white;
    font-family: Rubik;
  }
  &__diagram-title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 20px 0;
  }
  &__diagram-list{
    list-style: none;
  }
  &__diagram-item{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
    display: flex;
    &::before{
      display: block;
      content: "";
      border: 1px solid white;
      border-radius: 50px;
      width: 15px;
      height: 15px;
    }
  }

}
