@import "./src/assets/variables";
.article{
  border-radius: 16px;
  padding: 30px;
  box-sizing: border-box;
  background: var(--color-article);
  &__clock{
    background-color: #4C6FFF;
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  &__time{
    width: 260px;
    height: 137px;
    display: flex;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    &:first-child{
      margin-bottom: 40px;
    }
  }
  &__time-data{
    font-family: Rubik;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
  }
  &__wrp{
    display: flex;
    margin-bottom: 13px;
  }
}

.user-data{
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 48.5% 32% 10%;
  margin-right: 30px;
  &__hello{
    min-height: 314px;
    background: linear-gradient(225deg, #D665FF 0%, #4C6FFF 100%);
    position: relative;
  }
  &__title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: white;
  }
  &__text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  &__picture{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__progress{
    //width: 560px;
    height: 314px;
    display: flex;
  }
  &__block-diagram{
    width: 50%;
    position: relative;
  }
  &__img{
    width: 100%;
  }
  &__diagram-part{
    stroke: var(--color-diagram-part);
  }
  &__diagram-text{
    color: var(--color-text);
    font-family: Rubik;
  }
  &__diagram-title{
    font-style: normal;
    font-weight: bold;
    font-size: 17.5px;
    line-height: 21px;
    margin: 0 0 20px 40px;
  }
  &__diagram-list{
    list-style: none;
  }
  &__diagram-item{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
    display: flex;
    &::before{
      display: block;
      content: "";
      border-radius: 50px;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
  &__diagram-item:nth-child(1)::before{
    background-color: #F16063;
    background-image: url("../../../public/images/no-check.svg");
  }
  &__diagram-item:nth-child(2)::before{
    background-color: #66CB9F;
    background-image: url("../../../public/images/check.svg");
  }
  &__diagram-item:nth-child(3)::before{
    background-color: #FFC542;
    background-image: url("../../../public/images/check.svg");
  }
  &__diagram-item:nth-child(4)::before{
    background-color: $blueColor;
  }
  &__articles{
    display: flex;
    flex-direction: column;
  }


}
