@import "./src/assets/variables";
.user-data{
  &__hello{
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
    background: var(--color-article);
    min-height: 314px;
    background: linear-gradient(225deg, #D665FF 0%, #4C6FFF 100%);
    position: relative;
    grid-area: hello;

  }
  &__title{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: white;
  }
  &__text{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  &__picture{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__progress{
    grid-area: chart;
    height: 314px;
    display: flex;
    border-radius: 16px;
    padding: 30px;
    box-sizing: border-box;
    background: var(--color-article);
  }
  &__block-diagram{
    width: 50%;
    position: relative;
  }
  &__img{
    width: 100%;
  }
  &__diagram-part{
    stroke: var(--color-diagram-part);
  }
  &__diagram-text{
    color: var(--color-text);
    font-family: Rubik;
  }
  &__diagram-title{
    font-style: normal;
    font-weight: bold;
    font-size: 17.5px;
    line-height: 21px;
    margin: 0 0 20px 40px;
  }
  &__diagram-list{
    list-style: none;
  }
  &__diagram-item{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
    display: flex;
    &::before{
      display: block;
      content: "";
      border-radius: 50px;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
  &__diagram-item:nth-child(1)::before{
    background-color: #F16063;
    background-image: url("../../../public/images/no-check.svg");
  }
  &__diagram-item:nth-child(2)::before{
    background-color: #66CB9F;
    background-image: url("../../../public/images/check.svg");
  }
  &__diagram-item:nth-child(3)::before{
    background-color: #FFC542;
    background-image: url("../../../public/images/check.svg");
  }
  &__diagram-item:nth-child(4)::before{
    background-color: $blueColor;
  }
  &__time{
    grid-area: time;
  }
  &__date{
    grid-area: date;
  }
}

@media (max-width: 375px) {
  .user-data{
    &__picture{
      display: none;
    }
    &__hello{
      min-height: 167px;
    }
    &__title{
      font-size: 18px;
      line-height: 21.33px;
      margin: 0;
    }
    &__text{
      margin: 21px 0 14px 0;
    }
    &__text:nth-of-type(2){
      margin: 0;
    }
    &__progress{
      height: 183px;
      padding: 17.48px 25px;
      justify-content: space-between;
    }
    &__diagram-title{
      font-size: 12px;
      line-height: 14.22px;
      margin: 0 0 20px 20px;
    }
    &__diagram-list{
      padding-left: 20px;
      box-sizing: border-box;
    }
    &__diagram-item{
      font-size: 12px;
      line-height: 14.22px;
      margin-bottom: 5px;
    }
    &__block-diagram{
      width: 39%;
      margin-top:4%
    }

  }
}