@import "./src/assets/variables";
.message-articles{
  &__wrp{
    grid-area: articles;
    margin: 0;
    position: relative;
  }
  &__wrp:before{
    content: "";
    display: block;
    width: 180px;
    height: 100vh;
    background: linear-gradient(89.87deg, var(--color1-slider-shadow) 6.42%, var(--color2-slider-shadow) 75.23%);
    position: absolute;
    top: 0;
    right:0;
    z-index: 99;
  }
  &__arrow{
    width: 46px;
    height: 46px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 100px;
    z-index: 99999;
    transition: opacity 0.3s;
    &:hover{
      opacity: 50%;
      transition: opacity 0.3s;
    }
  }
  &__arrow-left{
    width: 46px;
    height: 46px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 100px;
    transition: opacity 0.3s;
    &:hover{
      opacity: 50%;
      transition: opacity 0.3s;
    }
  }
  &__arrow-left::after{
    content: "";
    display: block;
    width: 10.17px;
    height: 10.17px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transform: rotate(-45deg);
    position: absolute;
    top: 40%;
    right: 30%;
  }
  &__arrow::after{
    content: "";
    display: block;
    width: 10.17px;
    height: 10.17px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: 40%;
    left: 30%;
  }
  &__new-post{
    grid-area: new-post;
    min-height: 260px;
    min-width: 210px;
    margin: 0;
  }
  &__time-date{
    grid-area: time-date;
    height: 260px;
  }
}
.swiper-button-disabled{
  display:none;
}

@media (max-width: 768px) {
  .message-articles{
    &__new-post{
      min-height: 180px;
    }
    &__time-date{
      width: 100%;
      text-align: center;
    }
  }
}
@media (max-width: 375px) {
  .message-articles{
    //margin: 25px 0 25px 0;
    &__slide{
      //width: 100%;
      width: 315px;
    }
    &__wrp:before{
      display: none;
    }
  }
}