.message-articles{
  margin-right: 30px;
  &__wrp{
    grid-area: articles;
    margin: 0;
  }
  &__arrow{
    width: 46px;
    height: 46px;
    right: 0;
    background-color: #333333;
    border-radius: 100px;
  }
  &__arrow::after{
    content: "";
    display: block;
    width: 10.17px;
    height: 10.17px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: 40%;
    left: 30%;
  }
}