@import "./src/assets/variables";
.message-articles{
  position: relative;
  &__wrp{
    grid-area: articles;
    margin: 0;
    position: relative;
  }
  &__shadowRight{
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 100%;
    background: linear-gradient(89.87deg, var(--color1-slider-shadow) 6.42%, var(--color2-slider-shadow) 75.23%);
    z-index: var(--zIndex1);
    pointer-events: none;
  }
  &__shadowLeft{
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background: linear-gradient(89.87deg, var(--color2-slider-shadow) 6.42%, var(--color1-slider-shadow) 75.23%);
    z-index: var(--zIndex1);
    pointer-events: none;
  }
  &__arrow{
    width: 46px;
    height: 46px;
    right: 0;
    background-color: var(--color-arrow-slider);
    border-radius: 100px;
    z-index: var(--zIndex2);
    transition: opacity 0.3s;
    pointer-events: all;
    &:hover{
      opacity: 50%;
      transition: opacity 0.3s;
    }
  }
  &__arrow-left{
    width: 46px;
    height: 46px;
    left: 0;
    border-radius: 100px;
    transition: opacity 0.3s;
    background-color: var(--color-arrow-slider);

    z-index: var(--zIndex2);
    pointer-events: all;
    &:hover{
      opacity: 50%;
      transition: opacity 0.3s;
    }
  }
  &__arrow-left::after{
    content: "";
    display: block;
    width: 10.17px;
    height: 10.17px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transform: rotate(-45deg);
    position: absolute;
    top: 40%;
    right: 30%;
  }
  &__arrow::after{
    content: "";
    display: block;
    width: 10.17px;
    height: 10.17px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    position: absolute;
    top: 40%;
    left: 30%;
  }
  &__new-post{
    grid-area: new-post;
    min-height: 260px;
    min-width: 210px;
    margin: 0;
  }
  &__time-date{
    grid-area: time-date;
    height: 260px;
  }
}
.swiper-button-disabled{
  display:none;
}

@media (max-width: 1280px) {
  .message-articles{
    &__shadowRight{
      right: 492px;
    }
  }
}
@media (max-width: 768px) {
  .message-articles{
    &__new-post{
      min-height: 180px;
    }
    &__time-date{
      width: 100%;
      text-align: center;
    }
    &__shadowRight{
      height: 100%;
      right: 0%;
    }
    &__shadowLeft{
      height: 38%;
    }
  }
}
@media (max-width: 375px) {
  .message-articles{
    &__slide{
      width: 325px;
    }
    &__shadowRight{
      display: none;
    }
    &__shadowLeft{
      display: none;
    }
  }
  .swiper-slide{
    width: 325px;
  }
}

@media (max-width: 375px) {
  .swiper-slide-next{
    height: 180px;
    margin: auto;
    transition: all 0.3s;
  }
  .swiper-slide-prev{
    height: 180px;
    margin: auto;
    transition: all 0.3s;
  }
  .swiper-slider-active{
    height: 250px;
    transition: all 0.3s;
  }
  .swiper-slide{
    transition: all 0.3s;
  }
}