.tabs-form-item{
  height: 100%;
  display: flex;

  &__btns{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    &--one{
      margin-left: auto;
    }
  }
  //&__button{
  //  margin-left: auto;
  //}
}