@import "./src/assets/variables";
.checkbox{
  display: flex;
  justify-content: center;
  position: relative;
  &__input{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  &__label{
    cursor: pointer;
    text-indent: -9999px;
    width: 110px;
    height: 46px;
    background-color: var(--bg-button);
    display: block;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.25s;
    &:after{
      content: '';
      display: block;
      background-image: url("../../../public/images/darkTheme.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      position: absolute;
      top: 6.7px;
      left: 5px;
      width: 53.33px;
      height: 32.59px;
      background-color: $blueColor;
      border-radius: 90px;
      transition: 0.25s;
      z-index: 9999;
    }
  }
  &__darkTheme{
    position: absolute;
    z-index: 999;
    top: 13px;
    left: 25%;
    cursor: pointer;
    pointer-events:none;
    transition: stroke 0.3s;
    width: 20px;
    height: 20px;
    &:hover{
      .checkbox__path{
        stroke: black;
        transition: stroke 0.3s;
      }
    }
  }
  &__lightTheme{
    position: absolute;
    z-index: 999;
    top: 13.43px;
    right: 17%;
    cursor: pointer;
    pointer-events:none;
    width: 21px;
    height: 20px;
  }
}
.checkbox__input:checked + .checkbox__label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background-image: url("../../../public/images/lightTheme.svg");
}
@media (max-width: 375px) {
  .checkbox{
    &__label{
      width: 77px;
      height: 32px;
    }
    &__label::after{
      width: 37px;
      height: 22.02px;
      background-size: 12.55px 12.55px;
      top: 4.7px;
    }
    &__darkTheme{
      width: 12.55px;
      height: 12.55px;
      top: 21%;
    }
    &__lightTheme{
      width: 13px;
      height: 12px;
      top: 21%;
    }
  }
}