.graphic{
  &__block{
    width: 253.74px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 30.99px;
    margin-bottom: 27.5px;
    color: white;
  }
}
@media (max-width: 768px) {
  .graphic__block{
    grid-column-gap: 42.1px
  }
}
@media (max-width: 375px) {
  .graphic__block{
    grid-column-gap: 30.99px
  }
}